html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-size: 1.5rem;
  padding: 1rem
}

.MuiTable-root {
  width: 80% !important;
  margin: 0 auto !important;
  border: 1px solid #ccc !important;
  border-radius: 10px !important;
  border-collapse: inherit !important;
  box-shadow: 5px 3px 5px 0px rgba(235, 235, 235, 1);
}

td, th {
  font-size: 1.25rem !important;
  text-align: center !important;
}

th {
  padding: 1.5rem;
  font-size: 1.35rem !important;
  border-bottom: 1px solid #ccc !important;
}

td:first-of-type {
  width: 2rem;
}