html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.5rem;
  padding: 1rem
}

table {
  border-spacing: 0;
  border: 1px solid black;
}

th,
td {
  margin: 0;
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

/* th,
td:last-child {
  border-right: 0;
} */

tr:last-child td{
  border-bottom: 0;
}
 